<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<img width="100%" height="20px" alt="color-image" src="assets/images.jpg">
<div class="w3-display-container" >
  <div class="w3-display-topleft" style="padding-top: 15px ;">
      <img width="auto" alt="Logo" src="assets/bosch.jpg" height="50px" >
  </div>
  <div class="w3-display-topmiddle" style="padding-top: 15px;">
    <h1>MIXING PROGRAM 2.0</h1>    
  </div>
  

<br>
<br>
<br>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active ">
        <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="create-mix" routerLinkActive="active">Create Mix <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="recalculation">Recalculation</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="deflection">Deflection NOK</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#User Management" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Management
        </a>
      
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="addproduct">Add Product</a>
          <a class="dropdown-item" routerLink="#link">Update Product</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#3">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#Master Data Management" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Master Data Management
          </a>
        
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="edit-data">Edit Data</a>
            <a class="dropdown-item" routerLink="#">link2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="recalculation">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="recalculation">View stock</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="recalculation">View Logs</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="recalculation">Simulation</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:white; padding: 10px 16px;" href="#Form Template" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Form Template
            </a>
          
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="recalculation">link1</a>
              <a class="dropdown-item" routerLink="recalculation">link2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="recalculation">Something else here</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" style="color:white; padding: 10px 16px;" routerLink="Logout">Logout</a>
            </li>
        </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<img width="100%" height="20px" alt="color-image" style="bottom: 0; position: fixed;" src="assets/images.jpg">
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


